.vscode/**
.vscode-test/**
.vscode-test-server/**
.vscode-test.mjs
src/**
out/test/**
out/**/*.map
.gitignore
.eslintrc.json
.mocharc.json
tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.ts
**/*.map
node_modules/**
.github/**
*.vsix
